cosmosoap/src/resources/wsdl/ACARIS-OfficialBookMessaging.xsd

<?xml version='1.0' encoding='UTF-8'?><xs:schema jaxb:version="2.0" targetNamespace="officialbookservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:prt="prt.common.acaris.acta.doqui.it" xmlns:tns="officialbookservice.acaris.acta.doqui.it" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="ACARIS-OfficialBook.xsd" />
	<xs:import namespace="prt.common.acaris.acta.doqui.it" schemaLocation="ACARIS-Common-PRT.xsd" />
    <xs:import namespace="common.acaris.acta.doqui.it" schemaLocation="ACARIS-Common.xsd" />

	

	<!--===============-->
	<!-- tipi semplici -->
	<!--===============-->
	
	<xs:simpleType name="enumTipoRegistrazioneDaCreare">
		<xs:restriction base="common:string">
			<xs:enumeration value="RegistrazionRapida" />
			<xs:enumeration value="Protocollazione" />
			<xs:enumeration value="ProtocollazioneDocumentoEsistente" />
			<xs:enumeration value="ProtocollazioneDaSmistamento" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumTipoAPI">
		<xs:restriction base="common:string">
			<xs:enumeration value="Arrivo" />
			<xs:enumeration value="Partenza" />
			<xs:enumeration value="Interna" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumTipoPFPG">
		<xs:restriction base="common:string">
			<xs:enumeration value="PersonaFisica" />
			<xs:enumeration value="PersonaGiuridica" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumTipologiaSoggettoAssociato">
		<xs:restriction base="common:string">
			<xs:enumeration value="SoggettoActa" />
			<xs:enumeration value="Struttura" />
			<xs:enumeration value="Nodo" />
			<xs:enumeration value="Utente" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumTipoContenitore">
		<xs:restriction base="common:string">
			<xs:enumeration value="fascicoloTemporaneoTitolario" />
			<xs:enumeration value="fascicoloTemporaneoVoce" />
			<xs:enumeration value="strutturaAggregativa" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="enumTipologiaTargetAnnotazioneOB">
		<xs:restriction base="common:string">
			<xs:enumeration value="Registrazione" />
			<xs:enumeration value="Registro" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- INIZIO MODIFICHE NLG 2021 -->
	<xs:simpleType name="enumTipoIndirizzoTelematico">
		<xs:restriction base="common:string">							
			<xs:enumeration value="smtp" />
			<xs:enumeration value="url" />
			<xs:enumeration value="other" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumTipologiaCorrispondente">
		<xs:restriction base="common:string">							
			<xs:enumeration value="PA" /> <!-- Amministrazione -->
			<xs:enumeration value="AE" /> <!-- Amministrazione Estera -->
			<xs:enumeration value="PG" /> <!-- Persona Giuridica -->
			<xs:enumeration value="PF" /> <!-- Persona Fisica -->
		</xs:restriction>
	</xs:simpleType>
	<!-- FINE MODIFICHE NLG 2021 -->
	
	<!--================-->
	<!-- classi locali allo schema -->
	<!--================-->
	
	<xs:complexType abstract="true" name="RegistrazioneRequest">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="0" name="registroId" type="common:ObjectIdType" /> 
		      <xs:element maxOccurs="1" minOccurs="0" name="aooProtocollanteId" type="common:ObjectIdType" /> 
			  <xs:element maxOccurs="1" minOccurs="1" name="senzaCreazioneSoggettiEsterni" type="common:boolean" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RegistrazioneRapida">
		<xs:complexContent>
			<xs:extension base="tns:RegistrazioneRequest">
				<xs:sequence>
					<!-- internal properties -->
					<xs:element maxOccurs="1" minOccurs="1" name="oggetto" type="common:string" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="cognomeSoggetto" type="common:string" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="nomeSoggetto" type="common:string" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="denominazionePG" type="common:string" /> 
					<xs:element maxOccurs="1" minOccurs="1" name="inserimentoMittenteInAnagrafica" type="common:boolean" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="classificazioneEstesaPerArchiviazione" type="common:string" />
					<xs:element maxOccurs="1" minOccurs="1" name="collocazioneCartacea" type="common:string" />
					<xs:element maxOccurs="1" minOccurs="0" name="folderId" type="common:ObjectIdType" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="folderType" type="tns:enumTipoContenitore" /> 
					<!-- external properties -->
					<xs:element name="tipoSoggetto" type="tns:enumTipoPFPG" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="protocollante" type="tns:IdentificazioneProtocollante" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="annotazione" type="tns:InfoCreazioneAnnotazioneOB" /> 
					<xs:element maxOccurs="1" minOccurs="1" name="mittenteEsterno" type="tns:MittenteEsterno" /> 
					<xs:element maxOccurs="1" minOccurs="1" name="destinatarioInterno" type="tns:DestinatarioInterno" />
					<xs:element maxOccurs="1" minOccurs="1" name="stampaRicevuta" type="common:boolean" /> 
					<xs:element maxOccurs="1" minOccurs="1" name="forzareSePresenzaInviti" type="common:boolean" />  
					<xs:element maxOccurs="1" minOccurs="1" name="creazioneAsincronaDocumento" type="common:boolean" />  
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Protocollazione">
		<xs:complexContent>
			<xs:extension base="tns:RegistrazioneRequest">
				<xs:sequence>
					<!-- internal properties -->
					<xs:element maxOccurs="1" minOccurs="1" name="creazioneAsincronaDocumento" type="common:boolean" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="folderId" type="common:ObjectIdType" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="folderType" type="tns:enumTipoContenitore" /> 
					<!-- external properties -->
					<xs:element maxOccurs="1" minOccurs="1" name="registrazioneAPI" type="tns:RegistrazioneAPI" /> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ProtocollazioneDocumentoEsistente">
		<xs:complexContent>
			<xs:extension base="tns:RegistrazioneRequest">
				<xs:sequence>
					<!-- internal properties -->
					<xs:element maxOccurs="1" minOccurs="1" name="classificazioneId" type="common:ObjectIdType" /> 
					<!-- external properties -->
					<xs:element maxOccurs="1" minOccurs="1" name="registrazioneAPI" type="tns:RegistrazioneAPI" /> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ProtocollazioneDaSmistamento">
		<xs:complexContent>
			<xs:extension base="tns:RegistrazioneRequest">
				<xs:sequence>
					<!-- internal properties -->
					<xs:element maxOccurs="1" minOccurs="1" name="smistamentoId" type="common:IDDBType" /> 
					<!-- external properties -->
					<xs:element maxOccurs="1" minOccurs="1" name="registrazioneAPI" type="tns:RegistrazioneAPI" /> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RegistrazioneAPI">
		<xs:sequence>
			<!-- external properties -->
			<xs:element maxOccurs="1" minOccurs="1" name="tipoRegistrazione" type="tns:enumTipoAPI" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="infoCreazione" type="tns:InfoCreazioneRegistrazione" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RegistrazioneInterna">
		<xs:complexContent>
			<xs:extension base="tns:RegistrazioneAPI">
				<xs:sequence>
					<!-- internal properties -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RegistrazionePartenza">
		<xs:complexContent>
			<xs:extension base="tns:RegistrazioneAPI">
				<xs:sequence>
					<!-- internal properties -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="RegistrazioneArrivo">
		<xs:complexContent>
			<xs:extension base="tns:RegistrazioneAPI">
				<xs:sequence>
					<!-- external properties -->
					<xs:element maxOccurs="1" minOccurs="0" name="infoDateArrivo" type="tns:InfoDateArrivo" /> 
					<xs:element maxOccurs="1" minOccurs="0" name="infoProtocolloMittente" type="tns:InfoProtocolloMittente" /> 
					<xs:element maxOccurs="unbounded" minOccurs="0" name="mittenteEsterno" type="tns:MittenteEsterno" /> 
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="IdentificazioneRegistrazione">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="registrazioneId" type="common:ObjectIdType" /> 
		      <xs:element maxOccurs="1" minOccurs="0" name="folderId" type="common:ObjectIdType" /> 
			  <xs:element maxOccurs="1" minOccurs="0" name="folderType" type="tns:enumTipoContenitore" /> 
			  <xs:element maxOccurs="1" minOccurs="1" name="dataUltimoAggiornamento" type="common:ChangeTokenType" /> 
			  <xs:element maxOccurs="1" minOccurs="1" name="numero" type="common:string" /> 
			  <xs:element maxOccurs="1" minOccurs="0" name="classificazioneId" type="common:ObjectIdType" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IdentificazioneAnnotazioneOB">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element name="idAnnotazioneOB" type="common:ObjectIdType" /> 
		      <xs:element name="target" type="common:ObjectIdType" /> 
			  <xs:element name="tipologiaTarget" type="tns:enumTipologiaTargetAnnotazioneOB" /> 
			  <xs:element name="dataUltimoAggiornamento" type="common:ChangeTokenType" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IdentificazioneProtocollante">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="strutturaId" type="common:ObjectIdType" /> 
		      <xs:element maxOccurs="1" minOccurs="0" name="nodoId" type="common:ObjectIdType" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InfoCreazioneAnnotazioneOB">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="descrizione" type="common:string" /> 
		      <xs:element maxOccurs="1" minOccurs="1" name="formale" type="common:boolean" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InfoCreazioneRegistrazione">
		<xs:sequence>
			<!-- internal properties -->
			<xs:element maxOccurs="1" minOccurs="0" name="numeroRegistrazionePrecedente" type="common:string" /> 
		    <xs:element maxOccurs="1" minOccurs="0" name="annoRegistrazionePrecedente" type="common:string" />
			<xs:element maxOccurs="1" minOccurs="1" name="registrazioneRiservata" type="common:boolean" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="oggetto" type="common:string" /> 
			<xs:element maxOccurs="1" minOccurs="0" name="collocazioneCartacea" type="common:string" /> 
			<xs:element maxOccurs="1" minOccurs="0" name="mezzoTrasmissivoId" type="common:IDDBType" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="forzareSeRegistrazioneSimile" type="common:boolean" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="documentoRiservato" type="common:boolean" /> 
			<xs:element maxOccurs="1" minOccurs="0" name="classificazioneProposta" type="common:string" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="forzareSeRegistrazionePropostaInvalida" type="common:boolean" />
			<xs:element maxOccurs="1" minOccurs="0" name="dataDocumento" type="common:date" /> 
			<xs:element maxOccurs="unbounded" minOccurs="0" name="descrizioneAllegato" type="common:string" /> 
			<!-- external properties -->
			<xs:element maxOccurs="unbounded" minOccurs="0" name="mittenteInterno" type="tns:MittenteInterno" /> 
			<xs:element maxOccurs="unbounded" minOccurs="0" name="destinatarioInterno" type="tns:DestinatarioInterno" /> 
			<xs:element maxOccurs="unbounded" minOccurs="0" name="destinatarioEsterno" type="tns:DestinatarioEsterno" />
			<xs:element maxOccurs="1" minOccurs="0" name="protocollante" type="tns:IdentificazioneProtocollante" /> 
			<xs:element maxOccurs="1" minOccurs="0" name="annotazione" type="tns:InfoCreazioneAnnotazioneOB" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="forzareSePresenzaInviti" type="common:boolean" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="forzareSePresenzaDaInoltrare" type="common:boolean" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InfoDateArrivo">
		<xs:sequence>
		      <!-- objectName:propertyName -->
			  <xs:element maxOccurs="1" minOccurs="0" name="dataRicezione" type="common:date" /> 
			  <xs:element maxOccurs="1" minOccurs="0" name="dataTimbroPostale" type="common:date" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InfoProtocolloMittente">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="numero" type="common:string" /> 
			  <xs:element maxOccurs="1" minOccurs="1" name="anno" type="common:string" /> 
			  <xs:element maxOccurs="1" minOccurs="0" name="data" type="common:date" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="MittenteEsterno">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="corrispondente" type="tns:InfoCreazioneCorrispondente" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="MittenteInterno">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="corrispondente" type="tns:InfoCreazioneCorrispondente" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DestinatarioInterno">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="corrispondente" type="tns:InfoCreazioneCorrispondente" />
			  <xs:element maxOccurs="1" minOccurs="1" name="idRuoloCorrispondente" type="common:IDDBType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DestinatarioEsterno">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="corrispondente" type="tns:InfoCreazioneCorrispondente" />
			  <xs:element maxOccurs="1" minOccurs="1" name="idRuoloCorrispondente" type="common:IDDBType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InfoCreazioneCorrispondente">
		<xs:sequence>
		      <!-- properties -->
		      <xs:element maxOccurs="1" minOccurs="0" name="denominazione" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="nome" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="cognome" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="ordinale" type="common:integer" />
			  <xs:element maxOccurs="1" minOccurs="0" name="carica" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="persona" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="testoFoglioTrasmissione" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="infoSoggettoAssociato" type="tns:InfoSoggettoAssociato" />
  			  <!-- INIZIO MODIFICHE NLG 2021 -->
			  <xs:element maxOccurs="1" minOccurs="0" name="tipologiaCorrispondente" type="tns:enumTipologiaCorrispondente" />
			  <xs:element maxOccurs="1" minOccurs="0" name="codiceFiscale" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="PIVA" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="codiceIPAPA" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="codiceIPAAOO" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="codiceIPAUO" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="indirizzoTelematicoPA" type="tns:IndirizzoTelematicoType" />
			  <xs:element maxOccurs="1" minOccurs="0" name="indirizzoTelematicoAOO" type="tns:IndirizzoTelematicoType" />
			  <xs:element maxOccurs="1" minOccurs="0" name="indirizzoTelematicoUO" type="tns:IndirizzoTelematicoType" />
			  <xs:element maxOccurs="1" minOccurs="0" name="denominazioneAmministrazione" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="denominazioneUfficio" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="0" name="indirizzoTelematico" type="tns:IndirizzoTelematicoType" />
			  <xs:element maxOccurs="1" minOccurs="0" name="richiestaConferma" type="common:boolean" />
			  <!-- FINE MODIFICHE -->
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType abstract="true" name="InfoSoggettoAssociato">
		<xs:sequence>
		      
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RiferimentoSoggettoEsistente">
		<xs:complexContent>
			<xs:extension base="tns:InfoSoggettoAssociato">
			<xs:sequence>
			      <!-- objectName:propertyName -->
			      <xs:element maxOccurs="1" minOccurs="1" name="soggettoId" type="common:ObjectIdType" />
				  <xs:element maxOccurs="1" minOccurs="0" name="nodoIdSeTipologiaUtente" type="common:ObjectIdType" />
				  <xs:element maxOccurs="1" minOccurs="1" name="tipologia" type="tns:enumTipologiaSoggettoAssociato" />
				  <xs:element maxOccurs="1" minOccurs="1" name="idPFPGUL" type="prt:enumPFPGUL" />
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- TODO servono due viste per gestire codiceTipoSoggetto e codiceFonte -->
	<xs:complexType name="SoggettoEsterno">
		<xs:complexContent>
			<xs:extension base="tns:InfoSoggettoAssociato">
			<xs:sequence>
			      <!-- objectName:propertyName -->
			      <xs:element maxOccurs="1" minOccurs="1" name="chiaveEsterna" type="common:string" />
				  <xs:element maxOccurs="1" minOccurs="1" name="idPFPGUL" type="prt:enumPFPGUL" />
				  <xs:element maxOccurs="1" minOccurs="1" name="codiceTipoSoggetto" type="common:string" /> 
				  <xs:element maxOccurs="1" minOccurs="1" name="codiceFonte" type="common:string" />
			</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="InfoRegistrazione">
		<xs:sequence>
			<!-- internal properties -->
			<xs:element maxOccurs="1" minOccurs="1" name="dataProtocollo" type="common:date" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="codice" type="common:string" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="annullata" type="common:boolean" />
			<xs:element maxOccurs="1" minOccurs="0" name="numeroRegistrazionePrecedente" type="common:string" /> 
		    <xs:element maxOccurs="1" minOccurs="0" name="annoRegistrazionePrecedente" type="common:string" />
			<xs:element maxOccurs="1" minOccurs="0" name="registrazionePrecedenteId" type="common:ObjectIdType" />
			<xs:element maxOccurs="1" minOccurs="1" name="registrazioneRiservata" type="common:boolean" /> 
			<xs:element maxOccurs="1" minOccurs="0" name="mezzoTrasmissivoId" type="common:IDDBType" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="oggetto" type="common:string" /> 
			<xs:element maxOccurs="1" minOccurs="0" name="collocazioneCartacea" type="common:string" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="forzareSeRegistrazioneSimile" type="common:boolean" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="documentoRiservato" type="common:boolean" /> 
			<!-- external properties -->
			<xs:element maxOccurs="1" minOccurs="1" name="protocollante" type="tns:IdentificazioneProtocollanteEstesa" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="tipoRegistrazione" type="tns:enumTipoAPI" />
			<xs:element maxOccurs="1" minOccurs="0" name="infoAggiuntiveRegistrazioneInArrivo" type="tns:RegistrazioneArrivo" /> 
			<xs:element maxOccurs="unbounded" minOccurs="0" name="annotazione" type="tns:InfoCreazioneAnnotazioneOB" /> 
			<xs:element maxOccurs="1" minOccurs="0" name="infoAnnullamento" type="tns:InfoAnnullamentoRegistrazione" /> 
			<xs:element maxOccurs="unbounded" minOccurs="0" name="mittenteInterno" type="tns:MittenteInterno" /> 
			<xs:element maxOccurs="unbounded" minOccurs="0" name="destinatarioInterno" type="tns:DestinatarioInterno" /> 
			<xs:element maxOccurs="unbounded" minOccurs="0" name="destinatarioEsterno" type="tns:DestinatarioEsterno" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="forzareSePresenzaInviti" type="common:boolean" /> 
			<xs:element maxOccurs="1" minOccurs="1" name="forzareSePresenzaDaInoltrare" type="common:boolean" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IdentificazioneProtocollanteEstesa">
		<xs:complexContent>
			<xs:extension base="tns:IdentificazioneProtocollante">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="0" name="idAoo" type="common:ObjectIdType" />
		</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="InfoAnnullamentoRegistrazione">
		<xs:sequence>
		      <xs:element maxOccurs="1" minOccurs="1" name="annotazione" type="tns:InfoCreazioneAnnotazioneOB" /> 
			  <xs:element maxOccurs="1" minOccurs="0" name="dataAnnullamento" type="common:date" /> 
			  <xs:element maxOccurs="1" minOccurs="0" name="utenteAnnullamento" type="common:string" /> 
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InfoMittenteIS">
		<xs:sequence>
		      <!-- properties -->
		      <xs:element maxOccurs="1" minOccurs="1" name="identificatore" type="common:ObjectIdType" />
			  <xs:element maxOccurs="1" minOccurs="1" name="casella" type="common:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InfoDestinatarioIS">
		<xs:sequence>
		      <!-- properties -->
		      <xs:element maxOccurs="1" minOccurs="1" name="identificatore" type="common:ObjectIdType" />
			  <xs:element maxOccurs="1" minOccurs="1" name="emailPec" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="1" name="confermaRicezione" type="common:boolean" />
		</xs:sequence>
	</xs:complexType>

	<!-- INIZIO MODIFICHE NLG 2021 -->
	<xs:complexType name="IndirizzoTelematicoType">
		<xs:sequence>
		      <!-- objectName:propertyName -->
		      <xs:element maxOccurs="1" minOccurs="1" name="indirizzo" type="common:string" />
			  <xs:element maxOccurs="1" minOccurs="1" name="tipo" type="tns:enumTipoIndirizzoTelematico" />
		</xs:sequence>
	</xs:complexType>
	<!-- FINE MODIFICHE NLG 2021 -->
	
	<!--=====================-->
	<!-- Service operations  -->
	<!--=====================-->

	<!-- creaRegistrazione operation -->
	<xs:element name="creaRegistrazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="principalId" type="common:PrincipalIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="tipologiaCreazione" type="tns:enumTipoRegistrazioneDaCreare" />
				<xs:element maxOccurs="1" minOccurs="1" name="infoRichiestaCreazione" type="tns:RegistrazioneRequest" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="creaRegistrazioneResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="identificazioneCreazione" type="tns:IdentificazioneRegistrazione" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- importaRegistrazione operation -->
	<xs:element name="importaRegistrazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="principalId" type="common:PrincipalIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="classificazioneId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="registroId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="infoRegistrazione" type="tns:InfoRegistrazione" />
				<xs:element maxOccurs="1" minOccurs="1" name="senzaCreazioneSoggetti" type="common:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="importaRegistrazioneResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="identificazioneCreazione" type="tns:IdentificazioneRegistrazione" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- getRegistries operation -->
	<xs:element name="getRegistries">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="principalId" type="common:PrincipalIdType" />
				<xs:element maxOccurs="1" minOccurs="0" name="aooId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="0" name="anno" type="common:integer" />
				<xs:element maxOccurs="1" minOccurs="1" name="filter" type="common:PropertyFilterType" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRegistriesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="object" type="common:PagingResponseType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- getProperties Operation -->
	<xs:element name="getProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="objectId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="principalId" type="common:PrincipalIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="filter" type="common:PropertyFilterType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getPropertiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="object" type="common:ObjectResponseType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- updateProperties Operation -->
	<xs:element name="updateProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="objectId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="principalId" type="common:PrincipalIdType" />
				<xs:element maxOccurs="1" minOccurs="0" name="changeToken" type="common:ChangeTokenType" />
				<xs:element maxOccurs="unbounded" minOccurs="1" name="properties" type="common:PropertyType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updatePropertiesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="response" type="common:SimpleResponseType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	

	<!-- navigaRegistrazioni operation -->
	<xs:element name="navigaRegistrazioni">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="principalId" type="common:PrincipalIdType" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="navigaRegistrazioniResponse">
		<xs:complexType>
			<xs:sequence>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- creaAnnotazioneOB operation -->
	<xs:element name="creaAnnotazioneOB">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="principalId" type="common:PrincipalIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="target" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="tipologiaTarget" type="tns:enumTipologiaTargetAnnotazioneOB" />
				<xs:element maxOccurs="1" minOccurs="1" name="properties" type="common:PropertiesType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="creaAnnotazioneOBResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="identificazioneCreazione" type="tns:IdentificazioneAnnotazioneOB" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- inviaSegnatura operation -->
	<xs:element name="inviaSegnatura">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="repositoryId" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="principalId" type="common:PrincipalIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="origine" type="common:string" />
				<xs:element maxOccurs="1" minOccurs="1" name="identificatoreRegistraizone" type="common:ObjectIdType" />
				<xs:element maxOccurs="1" minOccurs="1" name="mittente" type="tns:InfoMittenteIS" />
				<xs:element maxOccurs="unbounded" minOccurs="1" name="destinatari" type="tns:InfoDestinatarioIS" />
				<xs:element maxOccurs="1" minOccurs="1" name="identitaDigitale" type="common:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="inviaSegnaturaResponse">
		<xs:complexType>
			<xs:sequence>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- INIZIO MODIFICHE NLG 2021 -->
	<!-- inviaSegnaturaRegistrazione operation -->
	<!-- supponiamo che il servizio di invio segnatura sia SOLO tramite job (quindi asincrono per natura) -->
	<!-- 
	<xs:element name="inviaSegnaturaRegistrazione">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="repositoryId" 				type="common:ObjectIdType"				minOccurs="1" maxOccurs="1" />
				<xs:element name="principalId" 					type="common:PrincipalIdType"			minOccurs="1" maxOccurs="1" />
				<xs:element name="identificatoreRegistrazione" 	type="common:ObjectIdType"				minOccurs="1" maxOccurs="1" />
				<xs:element name="mittente" 					type="tns:InfoMittenteRegistrazione"	minOccurs="1" maxOccurs="1" />
				<xs:element name="destinatari" 				type="tns:InfoDestinatarioRegistrazione"	minOccurs="1" maxOccurs="unbounded" />
				<xs:element name="info" 						type="tns:InfoInvioSegnatura"			minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="inviaSegnaturaRegistrazioneResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identificatoreInvioSegnatura"		type="common:ObjectIdType" minOccurs="1" maxOccurs="1"/>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="InfoMittenteRegistrazione">
		<xs:sequence>
			<xs:element name="identificatore" type="common:ObjectIdType" minOccurs="1" maxOccurs="1" />
			<xs:element name="emailPec" type="common:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InfoDestinatarioRegistrazione">
		<xs:sequence>
			<xs:element name="identificatore" type="common:ObjectIdType" minOccurs="1" maxOccurs="1" />
			<xs:element name="emailPec" type="common:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="confermaRicezione" type="common:boolean" 	minOccurs="1" maxOccurs="1" />
			- utilizzato solo nel caso di infoInvioSegnatura.invioMultiplo -
			<xs:element name="usaCanalePec" type="common:boolean" minOccurs="1" maxOccurs="1" />
			- forza l'uso del canale pec per il dato destinatario -
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InfoInvioSegnatura">
		<xs:sequence>
			<xs:element name="invioMultiplo" type="common:boolean" minOccurs="1" maxOccurs="1" />
			<xs:element name="forzaturaSigillo" type="common:boolean" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- FINE MODIFICHE NLG 2021 -->
	
</xs:schema>